<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "style/flashcard_style.css" %}">
    <link rel="icon" type="image/x-icon" href="{% static "images/favicon.ico" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Flashcard app</title>
    <script src="{% static "javascript/tailwind.js" %}"></script>
</head>
<body>
    <body class="bg-gray-100 dark:bg-gray-900">
        {% include "flashcard/tw_nav.html" %}
        {% block content %}{% endblock content %}
        {% include "flashcard/tw_footer.html" %}
    </body>
</body>
</html>